{% extends "LichessBundle::layout.twig" %}
{% block content %}
<div class="lichess_box">
    <h1 class="lichess_title">About Lichess</h1>
    <div class="lichess_text">
        Original game <a href="http://lichess.org">Lichess</a>
    </div>
    <a class="lichess_new_game" href="{% path "lichess_homepage" %}">Start a new game</a>
</div>
{% endblock %}
